syntax: glob

*.class
build/
out/
lib/
.bsp/
.sbtserver/
.settings/
.cache
.metadata/
.idea/
.idea/*
.gradle/
.history
target
lib_managed
project/boot
project/project
project/target
*.iml
*.log
*.bak
.classpath
.project
*.orig
.worksheet/
*.sc
.externalToolBuilders/
/null/
.DS_Store
